### Second Project

In [12]:
using Plots, ROCAnalysis, GLM, MLBase, Lathe, Distributions, LaTeXStrings, CSV, DataFrames, StatsBase, Missings, XLSX
using IJulia: readprompt

#### Q1

In [15]:
df = DataFrame(XLSX.readtable("crypto_currency.xlsx", "Sheet1")...)

10×4 DataFrame
 Row │ name       ticket  market cap  last price($)
     │ Any        Any     Any         Any
─────┼──────────────────────────────────────────────
   1 │ Bitcoin    BTC     750B        39K
   2 │ Ethereum   ETH     360B        3K
   3 │ Ripple     XRP     50B         0.7
   4 │ Solana     SOL     34B         100
   5 │ Terra      LUNA    32B         91
   6 │ Cardano    ADA     30B         0.9
   7 │ Avalanche  AVAX    20B         73
   8 │ Polkadot   DOT     19B         19
   9 │ Dogecoin   DOGE    18B         0.13
  10 │ Polygon    MATIC   10.7B       1.4

In [19]:
names(df)

4-element Vector{String}:
 "name"
 "ticket"
 "market cap"
 "last price(\$)"

In [110]:
selected_rows = findall(x->x ∈ sort(df."market cap", rev=true)[1:5], df."market cap")
top_five=df[selected_rows,:]

5×4 DataFrame
 Row │ name      ticket  market cap  last price($)
     │ Any       Any     Any         Any
─────┼─────────────────────────────────────────────
   1 │ Bitcoin   BTC     750B        39K
   2 │ Ethereum  ETH     360B        3K
   3 │ Ripple    XRP     50B         0.7
   4 │ Solana    SOL     34B         100
   5 │ Terra     LUNA    32B         91

In [108]:
for i in top_five."last price(\$)"
    if typeof(i) == String && contains(i, "K") == true
        replace!(top_five."last price(\$)", i=>parse(Int, chop(i))*1000)
    end
end
top_five

5×4 DataFrame
 Row │ name      ticket  market cap  last price($)
     │ Any       Any     Any         Any
─────┼─────────────────────────────────────────────
   1 │ Bitcoin   BTC     750B        -20.9895
   2 │ Ethereum  ETH     360B        0.0474742
   3 │ Ripple    XRP     50B         0.0471464
   4 │ Solana    SOL     34B         0.0473507
   5 │ Terra     LUNA    32B         0.0475091

In [101]:
sum(top_five."last price(\$)")

42191.7

##### *sclaing data*
$$
x := \frac{x - \mu}{\sigma}
$$

In [107]:

replace!(x -> (x - mean(top_five."last price(\$)"))/var(top_five."last price(\$)"), top_five."last price(\$)")
top_five

5×4 DataFrame
 Row │ name      ticket  market cap  last price($)
     │ Any       Any     Any         Any
─────┼─────────────────────────────────────────────
   1 │ Bitcoin   BTC     750B        -20.9895
   2 │ Ethereum  ETH     360B        0.0474742
   3 │ Ripple    XRP     50B         0.0471464
   4 │ Solana    SOL     34B         0.0473507
   5 │ Terra     LUNA    32B         0.0475091

### Q2